@import "settings/variables.css";

body {
  font-size: var(--font-size);
}

@media (--small-viewport) {
  body {
    background-color: #f00;
  }
}

.block {
  background-color: #ff9;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: calc(100% - var(--font-size));

  &__title {
    background-color: #9ff;
  }

  &--active {
    background-color: #f9f;
  }
}

@media (--small-viewport) {
  .block {
    width: 50%;
  }
}
