:root {
  --font-size: 20px;
}

@custom-media --small-viewport (max-width: 30em);

body {
  font-size: var(--font-size);
}

@media (--small-viewport) {
  body {
    background-color: #f00;
  }
}

p {
  width: calc(100% - var(--font-size));
}
