@import "settings/variables.css";

body {
  font-size: var(--font-size);
}

@media (--small-viewport) {
  body {
    background-color: #f00;
  }
}

div {
  display: flex;
}

p {
  background-color: #ff9;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: calc(100% - var(--font-size));
}

@media (--small-viewport) {
  p {
    width: 50%;
  }
}
