/**
 * Default settings
 */
:root {
  --font-size: 20px;

  /**
   * Colors Palette
   */
  --color-light: #ff9;
  --color-dark: #f9f;
}

/**
 * Media queries
 */
@custom-media --small-viewport (max-width: 30em);
